.overview {
	display: flex;
	justify-content: space-between;
	background-color: #252532;
	padding: 55px 65px;
	min-height: 357px;

	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to right, rgba(255, 255, 255, 0.3), transparent) 1;
}
